body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background-color 500ms cubic-bezier(0.95, 0.05, 0.795, 0.035);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
	border:  solid 1px #CCC;
	border-radius: 3px;
	width: 100%;
	background-color: #f9fafb!important;
}

.title {
  text-shadow: 0px 2px 4px #e8e8e8;
  color: #565656bf;
}

.btn.random {
  color:  #fff;
  background-color: #673ab7c7;
}
.btn.random:hover {
  color:  #fff;
  background-color: #673ab7;
}
